doctype html
html
  head
    title Rashmi Dance Academy
    block scripts
    block style
  body
   nav#navbar
    ul
      
        div#logo
            img(src="../static/img/3.png")
            | HDA
        li #[a(href="/") Home]
        li #[a(href="/") About us] 
        li #[a(href="/") Class Info]
        li #[a(href="/") Contact us]
        
    block content
    footer#footer
         | Copyright ©2020 RashmiDanceacademy.com | All rights  reserved

    
