extends base.pug
block scripts
    
        script(src='/static/index.js')
  
block style
    style
      include ../static/style.css
  
block content
 
        
        
    section#introSection
             div WELCOME TO RASHMI'S DANCE ACADEMY
             div Let Sleep Dance Repeat 
        
        

    section#missionSection 
      h2 our mission 
      div.card 
        h3 Dance Perfection
        div.card-box 
          div.card-img 
              img(src="/static/img/3.png")
          div.card-content 
              p This is the best dance academy in the universe
        
      div.card
        h3 Dance the way you like
         div.card-box 
          div.card-img 
              img(src="/static/img/3.png")
          div.card-content 
              p This is the best dance academy in the universe
        
      div.card
        h3 Expert Teaching
         div.card-box 
          div.card-img 
              img(src="/static/img/3.png")
          div.card-content 
              p This is the best dance academy in the universe
        
      on#introSection
             div WELCOME TO RASHMI'S DANCE ACADEMY
             div Let Sleep Dance Repeat 
        
        

    section#missionSection 
      h2 our mission 
      div.card 
        h3 Dance Perfection
        div.card-box 
          div.card-img 
              img(src="/static/img/3.png")
          div.card-content 
              p This is the best dance academy in the universe
        
      div.card
        h3 Dance the way you like
         div.card-box 
          div.card-img 
              img(src="/static/img/3.png")
          div.card-content 
              p This is the best dance academy in the universe
        
      div.card
        h3 Expert Teaching
         div.card-box 
          div.card-img 
              img(src="/static/img/3.png")
          div.card-content 
              p This is the best dance academy in the universe
        
      
      
    section#sponcersection
        h2 our sponcers
        div#sponcers 
           img(src="/static/img/apple.png",alt='Sponcer Image',class='spImage')
           img(src="/static/img/sky.png",alt='Sponcer Image',class='spImage')
           img(src="/static/img/microsoft_PNG14.png",alt='Sponcer Image',class='spImage')
           img(src="/static/img/hp1.png",alt='Sponcer Image',class='spImage')
      
        
    

    script
      include ../static/index.js
      
      
      